@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


body {
	margin: 0 auto;
	/*background: #bdc3c7 !important;*/
}

a {
	text-decoration: none!important;
}

section#game-board {
	margin-bottom: 50px;
}

div.game-board-row {
	height:100px;
	border: 1px solid #fff;
	display:flex;
}


div.shape-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.shape-choice {
	background-color: #2980b9;
	width:25%!important;
	height:100px;
	margin: 40px 25px;
	border-radius: 20px;
	display:flex;
	align-items: center;
	justify-content: center;
}

#current-turn-symbol {
	width:20%;
	background:  #2980b9;
	color:#fff!important;
}

div.shape-choice:hover, .board-slot {
	cursor: pointer;
}

div.board-slot {
	width:33%;
	height:104px;
	background: #fff!important;
	display:flex;
	align-items: center;
	justify-content: center;
}

#game-board .container {
	width:80%;
	margin: 0 auto;
	text-align: center;
	margin-top:30px;
}

#game-state .container{
	margin-bottom:80px;
}

#game-state h3 {
	font-weight:bold;
	font-family:'Montserrat', sans-sarif;
}

#slot-1, #slot-4, #slot-7 {
	border-right: 3px solid #2980b9!important;
}

#slot-2, #slot-5, #slot-8 {
	border-left:3px solid #2980b9!important;
	border-right:3px solid #2980b9!important;
}

#slot-3, #slot-6, #slot-9 {
	border-left: 3px solid #2980b9!important;
}

#slot-1, #slot-2, #slot-3 {
	border-bottom:3px solid #2980b9!important;
}

#slot-4, #slot-5, #slot-6 {
	border-top: 3px solid #2980b9!important;
	border-bottom: 3px solid #2980b9!important;
}

#slot-7, #slot-8, #slot-9 {
	border-top:3px solid #2980b9!important;
}


#shape-selection h3{
	font-family: 'Montserrat', sans-sarif!important;
	font-size:2em;
	font-weight: bold;
}


.shape-choice i {
	color:#fff!important;
}

.board-slot i {
	color: #2980b9!important;
}

.container .nomargin {
	margin:0;
	padding:0;
	width:100%;
}

.content-main {
	margin:10% auto;
}

.padding {
	margin: 50px 0;
}



/* Navigation Styling */

.navbar {
	/*background: #34495e!important;*/
	padding:20px;
}


.navbar-inverse .navbar-nav>li>a {
	color:#ecf0f1!important;
	font-size:1.5em;
}

.navbar .navbar-brand:hover {
	color:#2980b9!important;
}

.navbar .navbar-brand {
	color: #ecf0f1!important;
	font-size:2.5em;
}

footer {
	background:#333;
	color:white;
	height:70px;
	width:100%!important;
}

footer p {
	padding-top:15px;
	padding-left:auto;
	padding-right: auto;
	margin:auto;
	font-weight:bold;
	font-family: monospace;
}

footer a:link {
	text-decoration: none;
	color:#2980b9!important;
}

/*footer a {
	color:#fff;
}
*/
footer a:hover {
	color:#fff!important;
}